/* App.css or index.css */
::-webkit-scrollbar {
  width: 8px; /* Make the scrollbar small */
}

::-webkit-scrollbar-thumb {
  background-color: black; /* Make the scrollbar thumb black */
  border-radius: 10px; /* Optional: make it rounded */
}

::-webkit-scrollbar-track {
  background: transparent; /* Optional: make the track transparent */
}
