@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 5px !important;
}

::-webkit-scrollbar-track {
	background-color: #00000000 !important;
}

::-webkit-scrollbar-thumb {
	background-color: #888 !important;
}